<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--&lt;!&ndash;无参构造&ndash;&gt;-->
    <!--<bean id="user" class="com.deluce.pojo.User">-->
    <!--    <property name="name" value="deluce1"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash;有参构造,构造器&ndash;&gt;-->
    <!--<bean id="user" class="com.deluce.pojo.User">-->
    <!--    <constructor-arg index="0" value="deluce2"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash;有参构造，类型构造&ndash;&gt;-->
    <!--<bean id="user" class="com.deluce.pojo.User">-->
    <!--    <constructor-arg type="java.lang.String" value="deluce3"/>-->
    <!--</bean>-->

    <!--参数名直接设置-->
    <bean id="user" class="com.deluce.pojo.User">
        <constructor-arg name="name" value="deluce4"/>
    </bean>
</beans>